[Unit]
Description=Archival Storage Server Ingest Fixity Comparison

[Service]
Type=simple
WorkingDirectory=/cul/app/archival_storage_ingest
ExecStart=/cul/app/archival_storage_ingest/scripts/ingest_fixity_comparison.sh
Restart=on-failure
PrivateTmp=true

User=cular
Group=cular

[Install]
WantedBy=multi-user.target