[Unit]
Description=Archival Storage Server Periodic Fixity S3

[Service]
Type=simple
WorkingDirectory=/cul/app/archival_storage_ingest
ExecStart=/cul/app/archival_storage_ingest/scripts/periodic_fixity_s3.sh
Restart=on-failure
PrivateTmp=true

User=cular
Group=cular

[Install]
WantedBy=multi-user.target